<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Speech </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="myText"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="startRecognition()" *ngIf="!recording">
    <ion-icon name="mic-outline" slot="start"></ion-icon>
    Start speech recongnition
  </ion-button>

  <ion-button expand="full" (click)="stopRecognition()" *ngIf="recording" color="danger">
    <ion-icon name="mic-off-outline" slot="start"></ion-icon>
    Stop speech recongnition
  </ion-button>

  <ion-button expand="full" (click)="speakText()" *ngIf="!recording">
    <ion-icon name="volume-high-outline" slot="start"></ion-icon>
    Speak text
  </ion-button>
</ion-content>
